body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color:black
}

img {
   width:300px;
    height: 500px;
}

.heading-container {
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to bottom, rgb(233, 185, 185) 0%, rgb(209, 117, 117) 100%)
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 223, 248);
    border-radius: 10px;
    padding: 0.5em;
    gap: 1em;
    width: 300px;
}

